<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.saulmm.splashes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".OnboardingWithPlaceholderActivity"
            android:theme="@style/AppTheme.Placeholder">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".OnboardingWithCenterAnimationActivity"
            android:theme="@style/AppTheme.CenterAnimation">
        </activity>

        <activity
            android:name=".OnBoardingWithSimpleBackground"
            android:theme="@style/AppTheme.Simple"/>
    </application>

</manifest>
